/* general styling */
:root {
  --smaller: 0.75;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gotham Medium';
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(82, 105, 180, 1) 0%,
    rgba(33, 54, 123, 1) 60%
  );
  display: flex;
  font-family: 'Gotham Medium';
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #9ec236;
}

li span {
  display: block;
  font-size: 4.5rem;
  color: #ffffff;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

.visitLink {
  color: #ffffff;
}

.visitLink a {
  color: #9ec236;
  text-decoration: none;
}

ol,
ul {
  padding-left: 0rem;
}

.imgBox {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.imgBox img {
  text-align: center;
  width: 20%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  .imgBox img {
    width: 60%;
  }
}
